<!-- favicons can go here -->
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="/static/img/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="/static/img/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
<link rel="manifest" href="/static/img/site.webmanifest">
<link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#00b7bb">
<link rel="shortcut icon" href="/static/img/favicon.ico">
<meta name="msapplication-TileColor" content="#00b7bb">
<meta name="msapplication-config" content="/static/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
