<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {{ range .Site.Menus.footer }}
              {{ if eq .Weight 1}}
                {{ $aboutmeurl := "https://www.arzanirani.com/#aboutme"}}
                <li><a href="{{ $aboutmeurl }}">{{ .Name }}</a></li>
              {{else}}
                <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
              {{end}}
            {{ end }}
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by Arzan Irani. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
